<html>
<head>
	<title>NO TITLE</title>
	<link rel="stylesheet" media="screen" href="/css/blueprint/screen.css" />
	<link rel="stylesheet" media="print" href="/css/blueprint/print.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/start/jquery-ui-1.8.22.custom.css"/>
</head>
<body>
	<div class="container">
		<%= @image['image_filename'] %>
		<%= @image['files'][@id] %>
	</div>
</body>